---
layout: default
title: Home
album_list_limit: 2
---

{% assign albumListLimit = 2 %}
{% assign albumsListOffset = 1 %}

{% include logo-banner.html %}
{% include albums-list.html %}
<div class="page-body">
  <blockquote class="page-quote">Cosmic Dreamer is a platform for Artistic Expression. Founded by visual artists who play music, Cosmic Dreamer believes in the power of connecting with others through sight, sound and experience. We aim to put the object back into the manifestation of music, so listening is not only an aural experience, but a tangible one. We promote visual artists we believe in and musical artists who desire connection through making genuine, open investigations into sound. Cosmic Dreamer holds paramount the creative expression of the artist and the experiences they bring into the world.</blockquote>
</div>
{% include artists-list.html %}
