<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Cosmic Dreamer Music</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">{% include critical.css %}</style>
  {% include google-web-fonts.html %}
  <script>{% include loadCSS.js %}</script>
  <script src="{{ site.baseurl }}/js/picturefill.min.js" async></script>
  <script>
    loadCSS("{{ site.baseurl }}/css/styles.css");
  </script>
</head>
