// =========================================================================
// MIXINS
// =========================================================================



@import 'mixins/breakpoints';



// Clearfix
// --------------------------------------------------------------------------

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
