// ==========================================================================
// ARTISTS
// ==========================================================================



// List
// --------------------------------------------------------------------------

.artists-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include at-least(small) {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.artists-list > li {
  @include at-least(small) {
    width: 33.33%;
  }
}

.artists-list > li a {
  display: block;
  position: relative;
}

.artists-list > li img {
  display: block;
  width: 100%;
  height: auto;
}



// Card
// --------------------------------------------------------------------------

.artists-list .artists-list-card {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: rem-calc(10 20);
  background: rgba($color-dark-grey, .75);
  color: $color-white;
  font-size: $font-size-alpha;
}
