// =========================================================================
// LOGO BANNER
// =========================================================================



.logo-banner {
  position: relative;
  display: table;
  width: 100%;
  background-color: $color-light-blue;
}

.logo-banner > figure {
  display: table-cell;
  padding: rem-calc(40);
  text-align: center;
  vertical-align: middle;

  @include at-least(small) {
    padding: rem-calc(60 40 40);
  }
}

.logo-banner .logo-banner-img {
  width: 100%;
  max-width: rem-calc(200);
  height: auto;

  @include at-least(small) {
    max-width: rem-calc(240);
  }
}
