// ==========================================================================
// NEWS
// ==========================================================================



// List
// --------------------------------------------------------------------------

.news-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news-list > li {
  display: block;
  margin-bottom: rem-calc(20);
  padding: rem-calc(10 0);

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.news-list-date {
  margin-bottom: 0;
  font-size: $font-size-gamma;
  text-transform: uppercase;
}

.news-list-link {
  color: $color-light-blue;
  font-size: $font-size-kilo;
}
