// ==========================================================================
// VIDEOS
// ==========================================================================



// List
// --------------------------------------------------------------------------

.videos-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include at-least(small) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.videos-list > li {
  display: block;
  margin-bottom: rem-calc(20);

  @include at-least(small) {
    width: 49%;
    margin-bottom: rem-calc(40);
  }

  &:last-child {
    margin: 0;
  }
}

.video-embed {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-embed--news {
  @include at-least(small) {
    width: rem-calc(560);
    height: rem-calc(315);
    padding: 0;
  }
}

.video-embed > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-meta {
  padding: rem-calc(10 0);
  background: rgba($color-white, .2);
  font-size: $font-size-gamma;
}

.video-title {
  text-transform: uppercase;

  > b {
    font-weight: 700;
  }
}

.video-description {
  margin: 0;
}
