// ==========================================================================
// PAGE
// ==========================================================================



.row {
  width: 100%;
  max-width: rem-calc(1280);
  margin: 0 auto;
  padding: rem-calc(0 20);

  @include at-least(small) {
    padding: rem-calc(0 40);
  }
}

.page {
  position: relative;
  min-height: 100%;
  margin-bottom: -(rem-calc(150));

  &:after {
    display: block;
    height: rem-calc(150);
    content: '';
  }
}



// Header
// --------------------------------------------------------------------------

.page-header-bar {
  position: relative;
  height: rem-calc(60);
  padding: rem-calc(0 10);
  background: $color-light-blue;

  @include at-least(small) {
    height: rem-calc(80);
    padding: rem-calc(0 20);
  }
}

.site-logo {
  display: block;
  position: absolute;
  top: rem-calc(10);
  left: rem-calc(10);
  width: rem-calc(40);
  height: rem-calc(40);

  @include at-least(small) {
    top: rem-calc(20);
    left: rem-calc(20);
    width: rem-calc(300);
  }

  > svg {
    display: inline-block;
    vertical-align: middle;
  }
}

.site-logo > svg > .expand {
  display: none;

  @media (min-width: rem-calc(550)) {
    display: block;
  }
}



// Body
// --------------------------------------------------------------------------

.page-body {
  padding: rem-calc(20 0);

  @include at-least(small) {
    padding: rem-calc(20 0 40);
  }
}

.page-title {
  margin: rem-calc(0 0 20);
  color: rgba($color-dark-grey, .8);
  font-size: $font-size-alpha;
  font-weight: 400;
  text-transform: uppercase;

  @include at-least(small) {
    margin-bottom: rem-calc(40);
    font-size: $font-size-kilo;
  }
}

.page-section-header {
  margin: rem-calc(0 0 20);
  padding: 0;
  font-weight: 400;
  text-transform: uppercase;

  @include at-least(small) {
    margin-bottom: rem-calc(20);
    font-size: $font-size-beta;
  }

  &--margin {
    margin-top: rem-calc(20);

    @include at-least(small) {
      margin-top: rem-calc(40);
    }
  }
}

.page-content {
  &--news {
    margin-bottom: rem-calc(60);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.page-content > p {
  font-size: $font-size-gamma;
}

.page-content a {
  color: $color-light-blue;
}

.page-content-photo {
  display: block;
  width: 100%;
  margin: 0;
  padding: rem-calc(10);
  border: 1px solid rgba($color-dark-grey, .125);

  @include at-least(small) {
    max-width: rem-calc(600);
  }
}

.page-content-photo > img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.page-quote {
  margin: 0;
  padding: rem-calc(40);
  color: rgba($color-white, .8);
  font-size: $font-size-gamma;
  line-height: 1.5;

  @include at-least(small) {
    padding: rem-calc(50 80);
    font-size: $font-size-beta;
  }

  @include at-least(medium) {
    padding: rem-calc(75 100);
    font-size: $font-size-alpha;
  }

  @include at-least(large) {
    padding: rem-calc(100 150);
    font-size: $font-size-kilo;
  }
}



// Footer
// --------------------------------------------------------------------------

.page-footer {
  display: table;
  width: 100%;
  height: rem-calc(150);
  padding: rem-calc(0 20);
  background: $color-smoke;
  color: rgba($color-dark-grey, .8);
}

.page-footer-meta,
.page-footer-logo {
  display: table-cell;
  vertical-align: middle;
}

.page-footer-logo {
  width: rem-calc(40);
  padding-right: rem-calc(10);
}

.page-footer-logo > svg {
  display: block;
  width: rem-calc(50);
  height: rem-calc(50);
}
