// ==========================================================================
// TYPOGRAPHY
// ==========================================================================



// Font-size scale (Based on http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/)
// ==========================================================================

h1,
.alpha {
  font-size: $font-size-alpha;
}

h2,
.beta {
  font-size: $font-size-beta;
}

h3,
.gamma {
  font-size: $font-size-gamma;
}

h4,
.delta {
  font-size: $font-size-delta;
}

h5,
.epsilon {
  font-size: $font-size-epsilon;
}

h6,
.zeta {
  font-size: $font-size-zeta;
}

.giga { font-size: $font-size-giga; }
.mega { font-size: $font-size-mega; }
.kilo { font-size: $font-size-kilo; }

small,
.milli {
  font-size: $font-size-milli;
}



// Headers
// ---------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
}
