// ==========================================================================
// Z-INDEX
// ==========================================================================



// Z-Index scale
// ---------------------------------------------------------------------------

$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;



// Z-Index applications
// ---------------------------------------------------------------------------

.navigation-list { z-index: $z-index-2; }
.navigation-toggle { z-index: $z-index-3; }
